# Week 1 Sales Data Exploration
This notebook demonstrates the end-to-end process of ingesting, exploring, and transforming mock sales data using Databricks.  

In this notebook:
1. Execute simple Python and SQL snippets.  
2. Upload and load the CSV into a PySpark DataFrame.
3. Perform initial DataFrame exploration (row counts, schema, summary statistics).
4. Create a temporary SQL view and run SQL queries for deeper insights.
5. Convert and clean data types, handle missing values, and add new calculated columns.  
6. Filter and order your data to generate targeted views (e.g., credit-card sales).

In [0]:
# Display a greeting message from Python
print("Hello, Databricks!")

Hello, Databricks!

In [0]:
%sql
-- Display a freeting message from SQL
SELECT "Hello from SQL!" AS message

message
Hello from SQL!

## Data Ingestion & Exploration with PySpark

#### Load CSV Data into a PySpark DataFrame

In [0]:
# Path to your uploaded CSV file in DBFS
file_path = "/FileStore/tables/mock_sales_data.csv"

# Read the CSV file into a DataFrame
# Infer schema and specify that the first row is the header
sales_df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load(file_path)

# Display the DataFrame (shows top 20 rows by default)
sales_df.show()

# Print the schema of the DataFrame
sales_df.printSchema()

+-------------+-------------------+----------+-------------------+---------------+--------+------------------+-------------+-------------+
|TransactionID|    TransactionDate|CustomerID|            Product|ProductCategory|Quantity|        SaleAmount|PaymentMethod|StoreLocation|
+-------------+-------------------+----------+-------------------+---------------+--------+------------------+-------------+-------------+
|       TID001|2023-01-15 17:49:00|   CUST085|         Laptop Pro|    Electronics|       3|           2528.43|  Credit Card|  Los Angeles|
|       TID002|2023-01-16 17:57:00|   CUST102|     Wireless Mouse|    Electronics|       2|           2088.02|         NULL|       Online|
|       TID003|2023-01-17 13:50:00|   CUST301|       Office Chair|      Furniture|       2|            864.66|       PayPal|  Los Angeles|
|       TID004|2023-01-18 16:06:00|   CUST102|       Coffee Maker|     Appliances|       2|           2688.94|       PayPal|       Online|
|       TID005|2023-01-19 11:33:00|   CUST301| Data Science Intro|          Books|       3|           1949.52|    Gift Card|      Chicago|
|       TID006|2023-01-20 14:04:00|   CUST102|       Smartphone X|    Electronics|       2|            2235.1|         Cash|       Online|
|       TID007|2023-01-21 16:43:00|   CUST007|External Hard Drive|    Electronics|       1|           1357.63|         Cash|  Los Angeles|
|       TID008|2023-01-22 12:27:00|   CUST102|          Desk Lamp|      Furniture|       1|            1099.0|         NULL|       Online|
|       TID009|2023-01-23 11:00:00|   CUST301|            Toaster|     Appliances|       3|           1308.99|    Gift Card|       Online|
|       TID010|2023-01-24 16:37:00|   CUST210|    Advanced Python|          Books|       1|           1499.83|       PayPal|  Los Angeles|
|       TID011|2023-01-25 16:52:00|   CUST123|    Gaming Keyboard|    Electronics|       3|           2193.93|         NULL|  Los Angeles|
|       TID012|2023-01-26 12:22:00|   CUST999|          Bookshelf|      Furniture|       1|            181.81|         Cash|       Online|
|       TID013|2023-01-27 09:42:00|   CUST085|        Smart Watch|    Electronics|       3|           2057.37|       PayPal|  Los Angeles|
|       TID014|2023-01-28 13:13:00|   CUST102|            Blender|     Appliances|       2|            269.32|   Debit Card|     New York|
|       TID015|2023-01-29 16:16:00|   CUST085|     Learning Spark|          Books|       3|1362.6299999999999|   Debit Card|       Online|
|       TID016|2023-01-30 16:14:00|   CUST301|            Monitor|    Electronics|       2|           2837.46|   Debit Card|       Online|
|       TID017|2023-01-31 10:25:00|   CUST123|    Ergonomic Mouse|    Electronics|       1|           1051.28|   Debit Card|       Online|
|       TID018|2023-02-01 13:59:00|   CUST450|     Filing Cabinet|      Furniture|       1|            711.12|    Gift Card|     New York|
|       TID019|2023-02-02 14:10:00|   CUST450|         Headphones|    Electronics|       1|            634.28|    Gift Card|       Online|
|       TID020|2023-02-03 12:32:00|   CUST301|          Air Fryer|     Appliances|       1|           1476.55|         Cash|     New York|
+-------------+-------------------+----------+-------------------+---------------+--------+------------------+-------------+-------------+
only showing top 20 rows
root
 |-- TransactionID: string (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- SaleAmount: double (nullable = true)
 |-- PaymentMethod: string (nullable = true)
 |-- StoreLocation: string (nullable = true)

#### Basic DataFrame Exploration

In [0]:
# Count the total number of rows
print("Total number of rows:")
print(sales_df.count())

Total number of rows:
30

In [0]:
# Display the first 5 rows
print("First 5 rows:")
display(sales_df.show(5))

First 5 rows:
+-------------+-------------------+----------+------------------+---------------+--------+----------+-------------+-------------+
|TransactionID|    TransactionDate|CustomerID|           Product|ProductCategory|Quantity|SaleAmount|PaymentMethod|StoreLocation|
+-------------+-------------------+----------+------------------+---------------+--------+----------+-------------+-------------+
|       TID001|2023-01-15 17:49:00|   CUST085|        Laptop Pro|    Electronics|       3|   2528.43|  Credit Card|  Los Angeles|
|       TID002|2023-01-16 17:57:00|   CUST102|    Wireless Mouse|    Electronics|       2|   2088.02|         NULL|       Online|
|       TID003|2023-01-17 13:50:00|   CUST301|      Office Chair|      Furniture|       2|    864.66|       PayPal|  Los Angeles|
|       TID004|2023-01-18 16:06:00|   CUST102|      Coffee Maker|     Appliances|       2|   2688.94|       PayPal|       Online|
|       TID005|2023-01-19 11:33:00|   CUST301|Data Science Intro|          Books|       3|   1949.52|    Gift Card|      Chicago|
+-------------+-------------------+----------+------------------+---------------+--------+----------+-------------+-------------+
only showing top 5 rows

In [0]:
# Generate descriptive statistics for the DataFrame
print("Descriptive statistics:")
display(sales_df.describe().show())

Descriptive statistics:
+-------+-------------+----------+---------------+---------------+------------------+------------------+-------------+-------------+
|summary|TransactionID|CustomerID|        Product|ProductCategory|          Quantity|        SaleAmount|PaymentMethod|StoreLocation|
+-------+-------------+----------+---------------+---------------+------------------+------------------+-------------+-------------+
|  count|           30|        30|             30|             30|                30|                30|           24|           30|
|   mean|         NULL|      NULL|           NULL|           NULL|1.9666666666666666|1444.2346666666667|         NULL|         NULL|
| stddev|         NULL|      NULL|           NULL|           NULL|0.8502873077655143| 855.9768525098349|         NULL|         NULL|
|    min|       TID001|   CUST007|Advanced Python|    Accessories|                 1|154.64999999999998|         Cash|      Chicago|
|    max|       TID030|   CUST999|       Yoga Mat|         Sports|                 3|           2837.46|       PayPal|       Online|
+-------+-------------+----------+---------------+---------------+------------------+------------------+-------------+-------------+

In [0]:
# Display the first 5 rows of the  `TransactionID`, `Product`, `SaleAmount` columns
print("First 5 rows of `TransactionID`, `Product`, `SaleAmount` columns:")
display(sales_df.select("TransactionID", "Product", "SaleAmount").show(5))

First 5 rows of `TransactionID`, `Product`, `SaleAmount` columns:
+-------------+------------------+----------+
|TransactionID|           Product|SaleAmount|
+-------------+------------------+----------+
|       TID001|        Laptop Pro|   2528.43|
|       TID002|    Wireless Mouse|   2088.02|
|       TID003|      Office Chair|    864.66|
|       TID004|      Coffee Maker|   2688.94|
|       TID005|Data Science Intro|   1949.52|
+-------------+------------------+----------+
only showing top 5 rows

## Basic Data Transformation & Cleansing with Spark SQL & PySpark

#### Using Spark SQL for Exploration

In [0]:
# Create a temporary view from the DataFrame
sales_df.createOrReplaceTempView("sales_data_view")

In [0]:
# Define a SQL query to fetch the first 10 rows from our temporary view
sql_query = "SELECT * FROM sales_data_view LIMIT 10;"

display(spark.sql(sql_query).show())

+-------------+-------------------+----------+-------------------+---------------+--------+----------+-------------+-------------+
|TransactionID|    TransactionDate|CustomerID|            Product|ProductCategory|Quantity|SaleAmount|PaymentMethod|StoreLocation|
+-------------+-------------------+----------+-------------------+---------------+--------+----------+-------------+-------------+
|       TID001|2023-01-15 17:49:00|   CUST085|         Laptop Pro|    Electronics|       3|   2528.43|  Credit Card|  Los Angeles|
|       TID002|2023-01-16 17:57:00|   CUST102|     Wireless Mouse|    Electronics|       2|   2088.02|         NULL|       Online|
|       TID003|2023-01-17 13:50:00|   CUST301|       Office Chair|      Furniture|       2|    864.66|       PayPal|  Los Angeles|
|       TID004|2023-01-18 16:06:00|   CUST102|       Coffee Maker|     Appliances|       2|   2688.94|       PayPal|       Online|
|       TID005|2023-01-19 11:33:00|   CUST301| Data Science Intro|          Books|       3|   1949.52|    Gift Card|      Chicago|
|       TID006|2023-01-20 14:04:00|   CUST102|       Smartphone X|    Electronics|       2|    2235.1|         Cash|       Online|
|       TID007|2023-01-21 16:43:00|   CUST007|External Hard Drive|    Electronics|       1|   1357.63|         Cash|  Los Angeles|
|       TID008|2023-01-22 12:27:00|   CUST102|          Desk Lamp|      Furniture|       1|    1099.0|         NULL|       Online|
|       TID009|2023-01-23 11:00:00|   CUST301|            Toaster|     Appliances|       3|   1308.99|    Gift Card|       Online|
|       TID010|2023-01-24 16:37:00|   CUST210|    Advanced Python|          Books|       1|   1499.83|       PayPal|  Los Angeles|
+-------------+-------------------+----------+-------------------+---------------+--------+----------+-------------+-------------+

In [0]:
# Define a SQL query to get distinct PrdoductCategory from our temporary view
sql_query = "SELECT DISTINCT ProductCategory FROM sales_data_view"

spark.sql(sql_query).show()

+---------------+
|ProductCategory|
+---------------+
|         Sports|
|    Electronics|
|       Clothing|
|       Footwear|
|          Books|
|      Furniture|
|    Accessories|
|     Appliances|
+---------------+

In [0]:
# Define a SQL query to calculate the total sales for each product and order by total sales in descending order
sql_query = """SELECT Product, SUM(SaleAmount) as TotalSales
           FROM sales_data_view
           GROUP BY Product
           ORDER BY TotalSales DESC
        """

spark.sql(sql_query).show()

+-------------------+------------------+
|            Product|        TotalSales|
+-------------------+------------------+
|            Monitor|           2837.46|
|       Water Bottle|           2714.02|
|       Coffee Maker|           2688.94|
|     Desk Organizer|           2599.89|
|         Laptop Pro|           2528.43|
|      Standing Desk|           2342.98|
|       Smartphone X|            2235.1|
|    Gaming Keyboard|           2193.93|
|     Wireless Mouse|           2088.02|
|        Smart Watch|           2057.37|
| Data Science Intro|           1949.52|
|           Yoga Mat|1839.1799999999998|
|    Advanced Python|           1499.83|
|          Air Fryer|           1476.55|
|     Learning Spark|1362.6299999999999|
|External Hard Drive|           1357.63|
|            Toaster|           1308.99|
|      Running Shoes|           1165.54|
|            T-Shirt|           1123.56|
|          Desk Lamp|            1099.0|
+-------------------+------------------+
only showing top 20 rows

In [0]:
# Set the CustomerID to be used in the SQL query
customer_id = "CUST085"

# Define a SQL query to select all columns for the specified CustomerID from the sales_data_view
sql_query = f"""SELECT *
           FROM sales_data_view
           WHERE CustomerID = '{customer_id}'
        """ 

display(spark.sql(sql_query))

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation
TID001,2023-01-15T17:49:00Z,CUST085,Laptop Pro,Electronics,3,2528.43,Credit Card,Los Angeles
TID013,2023-01-27T09:42:00Z,CUST085,Smart Watch,Electronics,3,2057.37,PayPal,Los Angeles
TID015,2023-01-29T16:16:00Z,CUST085,Learning Spark,Books,3,1362.6299999999999,Debit Card,Online

#### Data Type Conversion (PySpark)

In [0]:
from pyspark.sql.functions import to_date, lit, to_timestamp, col, desc, isnan, isnull
from pyspark.sql.types import DoubleType, IntegerType

In [0]:
# Checking to_date function
display(sales_df.withColumn("TransactionDate1",to_date("TransactionDate")) \
  .limit(5))

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,TransactionDate1
TID001,2023-01-15T17:49:00Z,CUST085,Laptop Pro,Electronics,3,2528.43,Credit Card,Los Angeles,2023-01-15
TID002,2023-01-16T17:57:00Z,CUST102,Wireless Mouse,Electronics,2,2088.02,null,Online,2023-01-16
TID003,2023-01-17T13:50:00Z,CUST301,Office Chair,Furniture,2,864.66,PayPal,Los Angeles,2023-01-17
TID004,2023-01-18T16:06:00Z,CUST102,Coffee Maker,Appliances,2,2688.94,PayPal,Online,2023-01-18
TID005,2023-01-19T11:33:00Z,CUST301,Data Science Intro,Books,3,1949.52,Gift Card,Chicago,2023-01-19

In [0]:
# Demonstrate converting the TransactionDate string into a Date vs. a Timestamp column
display(sales_df.withColumn("date",to_date("TransactionDate")) \
.withColumn("timestamp",to_timestamp("TransactionDate")).limit(5))

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,date,timestamp
TID001,2023-01-15T17:49:00Z,CUST085,Laptop Pro,Electronics,3,2528.43,Credit Card,Los Angeles,2023-01-15,2023-01-15T17:49:00Z
TID002,2023-01-16T17:57:00Z,CUST102,Wireless Mouse,Electronics,2,2088.02,null,Online,2023-01-16,2023-01-16T17:57:00Z
TID003,2023-01-17T13:50:00Z,CUST301,Office Chair,Furniture,2,864.66,PayPal,Los Angeles,2023-01-17,2023-01-17T13:50:00Z
TID004,2023-01-18T16:06:00Z,CUST102,Coffee Maker,Appliances,2,2688.94,PayPal,Online,2023-01-18,2023-01-18T16:06:00Z
TID005,2023-01-19T11:33:00Z,CUST301,Data Science Intro,Books,3,1949.52,Gift Card,Chicago,2023-01-19,2023-01-19T11:33:00Z

In [0]:
# Convert the 'TransactionDate' column to a timestamp type and store it in a new column
sales_df_transformed = sales_df.withColumn("TransactionTimestamp", to_timestamp("TransactionDate", "yyyy-MM-dd HH:mm:ss"))

In [0]:
# Check the schema of the DataFrame
sales_df_transformed.printSchema()

root
 |-- TransactionID: string (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- SaleAmount: double (nullable = true)
 |-- PaymentMethod: string (nullable = true)
 |-- StoreLocation: string (nullable = true)
 |-- TransactionTimestamp: timestamp (nullable = true)

In [0]:
# Display the first 5 rows of TransactionID, TransactionDate, and TransactionTimestamp columns
sales_df_transformed.select("TransactionID", "TransactionDate", "TransactionTimestamp").show(5, truncate=False)

+-------------+-------------------+--------------------+
|TransactionID|TransactionDate    |TransactionTimestamp|
+-------------+-------------------+--------------------+
|TID001       |2023-01-15 17:49:00|2023-01-15 17:49:00 |
|TID002       |2023-01-16 17:57:00|2023-01-16 17:57:00 |
|TID003       |2023-01-17 13:50:00|2023-01-17 13:50:00 |
|TID004       |2023-01-18 16:06:00|2023-01-18 16:06:00 |
|TID005       |2023-01-19 11:33:00|2023-01-19 11:33:00 |
+-------------+-------------------+--------------------+
only showing top 5 rows

In [0]:
# Check IntegerType even though inferSchema already set SaleAmount to DoubleType
display(sales_df_transformed.withColumn("SaleAmount1", sales_df_transformed.SaleAmount.cast(IntegerType())).limit(5))
# sales_df_transformed.withColumn("SaleAmount1", col("SaleAmount").cast(IntegerType())).show()

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,TransactionTimestamp,SaleAmount1
TID001,2023-01-15T17:49:00Z,CUST085,Laptop Pro,Electronics,3,2528.43,Credit Card,Los Angeles,2023-01-15T17:49:00Z,2528
TID002,2023-01-16T17:57:00Z,CUST102,Wireless Mouse,Electronics,2,2088.02,null,Online,2023-01-16T17:57:00Z,2088
TID003,2023-01-17T13:50:00Z,CUST301,Office Chair,Furniture,2,864.66,PayPal,Los Angeles,2023-01-17T13:50:00Z,864
TID004,2023-01-18T16:06:00Z,CUST102,Coffee Maker,Appliances,2,2688.94,PayPal,Online,2023-01-18T16:06:00Z,2688
TID005,2023-01-19T11:33:00Z,CUST301,Data Science Intro,Books,3,1949.52,Gift Card,Chicago,2023-01-19T11:33:00Z,1949

#### Handling Missing Values

In [0]:
# Count  Null elements in "PaymentMethod" column
sales_df_transformed.filter(col("PaymentMethod").isNull()).count()

6

In [0]:
display(sales_df_transformed.filter(isnull(col("PaymentMethod"))))

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,TransactionTimestamp
TID002,2023-01-16T17:57:00Z,CUST102,Wireless Mouse,Electronics,2,2088.02,null,Online,2023-01-16T17:57:00Z
TID008,2023-01-22T12:27:00Z,CUST102,Desk Lamp,Furniture,1,1099.0,null,Online,2023-01-22T12:27:00Z
TID011,2023-01-25T16:52:00Z,CUST123,Gaming Keyboard,Electronics,3,2193.93,null,Los Angeles,2023-01-25T16:52:00Z
TID026,2023-02-09T14:59:00Z,CUST450,Desk Organizer,Furniture,3,2599.89,null,New York,2023-02-09T14:59:00Z
TID029,2023-02-12T17:57:00Z,CUST999,Standing Desk,Furniture,2,2342.98,null,New York,2023-02-12T17:57:00Z
TID030,2023-02-13T12:17:00Z,CUST999,Microwave Oven,Appliances,3,154.64999999999998,null,Online,2023-02-13T12:17:00Z

In [0]:
# Checking filling the null elements with "Unknown" in "PaymentMethod" columns
default_method = "Unknown"
display(sales_df_transformed.fillna(default_method, subset=["PaymentMethod"]).filter(col("TransactionID") == "TID002"))

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,TransactionTimestamp
TID002,2023-01-16T17:57:00Z,CUST102,Wireless Mouse,Electronics,2,2088.02,Unknown,Online,2023-01-16T17:57:00Z

In [0]:
# Filling the null elements with "Unknown" in "PaymentMethod" columns
sales_df_transformed = sales_df_transformed.fillna(default_method, subset=["PaymentMethod"])

#### Creating New Columns

In [0]:
# Check if any value in "Quantity" column less than or equal to 0
sales_df_transformed.filter(col("Quantity") <= 0).count()

0

In [0]:
# Check if any value in "SaleAmount" column less than or equal to 0
sales_df_transformed.filter(col("SaleAmount") == 0).count()

0

In [0]:
# Create a new column called "TotalItemCost" by multiplying "SaleAmount" and "Quantity"
sales_df_transformed = sales_df_transformed.withColumn("TotalItemCost", col("SaleAmount") * col("Quantity"))

In [0]:
# Display the first 5 rows of the transformed sales DataFrame
display(sales_df_transformed.limit(5))

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,TransactionTimestamp,TotalItemCost
TID001,2023-01-15T17:49:00Z,CUST085,Laptop Pro,Electronics,3,2528.43,Credit Card,Los Angeles,2023-01-15T17:49:00Z,7585.289999999999
TID002,2023-01-16T17:57:00Z,CUST102,Wireless Mouse,Electronics,2,2088.02,Unknown,Online,2023-01-16T17:57:00Z,4176.04
TID003,2023-01-17T13:50:00Z,CUST301,Office Chair,Furniture,2,864.66,PayPal,Los Angeles,2023-01-17T13:50:00Z,1729.32
TID004,2023-01-18T16:06:00Z,CUST102,Coffee Maker,Appliances,2,2688.94,PayPal,Online,2023-01-18T16:06:00Z,5377.88
TID005,2023-01-19T11:33:00Z,CUST301,Data Science Intro,Books,3,1949.52,Gift Card,Chicago,2023-01-19T11:33:00Z,5848.5599999999995

#### Filtering and Ordering

In [0]:
# Filter the DataFrame to include only credit card sales and order by SaleAmount in descending order
credit_card_sales_df = sales_df_transformed.filter(col("PaymentMethod") == "Credit Card") \
.orderBy(col("SaleAmount").desc())

In [0]:
credit_card_sales_df.count()

2

In [0]:
display(credit_card_sales_df)

TransactionID,TransactionDate,CustomerID,Product,ProductCategory,Quantity,SaleAmount,PaymentMethod,StoreLocation,TransactionTimestamp,TotalItemCost
TID001,2023-01-15T17:49:00Z,CUST085,Laptop Pro,Electronics,3,2528.43,Credit Card,Los Angeles,2023-01-15T17:49:00Z,7585.289999999999
TID021,2023-02-04T16:56:00Z,CUST007,T-Shirt,Clothing,2,1123.56,Credit Card,Online,2023-02-04T16:56:00Z,2247.12

## Storing Processed Data

In [0]:
output_path_parquet = "/FileStore/tables/innovateretail/processed_sales_parquet"
sales_df_transformed.write.mode("overwrite").parquet(output_path_parquet)
print(f"DataFrame saved to Parquet at: {output_path_parquet}")

DataFrame saved to Parquet at: /FileStore/tables/innovateretail/processed_sales_parquet

In [0]:
%fs ls /FileStore/tables/innovateretail/processed_sales_parquet/

path,name,size,modificationTime
dbfs:/FileStore/tables/innovateretail/processed_sales_parquet/_SUCCESS,_SUCCESS,0,1748254472000
dbfs:/FileStore/tables/innovateretail/processed_sales_parquet/_committed_8353880025805932968,_committed_8353880025805932968,123,1748254472000
dbfs:/FileStore/tables/innovateretail/processed_sales_parquet/_started_8353880025805932968,_started_8353880025805932968,0,1748254472000
dbfs:/FileStore/tables/innovateretail/processed_sales_parquet/part-00000-tid-8353880025805932968-5f8798dd-3a55-42e6-a9ca-862c99b9dc85-62-1.c000.snappy.parquet,part-00000-tid-8353880025805932968-5f8798dd-3a55-42e6-a9ca-862c99b9dc85-62-1.c000.snappy.parquet,4978,1748254472000